.correct {
  text-align: center;
  margin: 1rem;
  background-color: #4caf50;
  border: 1px solid #777;
  padding: 5px 10px;
  font-family: calibri;
  font-size: 1.5rem;
  color: #fff;
}

.incorrect {
  text-align: center;
  margin: 1rem;
  background-color: #ef5350;
  border: 1px solid #777;
  padding: 5px 10px;
  font-family: calibri;
  font-size: 1.5rem;
  color: #fff;
}
